/* ==============================================================================
NAVBAR
============================================================================== */

nav {
    background-color: #074e49;
    color: #fff;
}

/* nav links */
.nav-link {
    color: white;
}
.nav-link:hover {
    color: #c8dc7c;
}

/* scrape button */
li button {
    background-color: #19ac65;
}

/* ==============================================================================
TITLE JUMBOTRON
============================================================================== */

.jumbotron {
    background-color: #fff;
}

.header {
    background-image: url(../images/sports-cover.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 180px;
	color: #e62725;
}

.title {
	font-size: 82px;
	background-color: #fff;
}

/* ==============================================================================
ARTICLES
============================================================================== */

.panel {
	width: 100%;
	margin: 10px 0 10px 0;
	padding: 10px;
	border-radius: 0;
	box-shadow: 3px 3px 20px lightslategrey;
}

.panel-heading {
	width: 100%;
	background-color: #074e49;
	color: #fff;
	padding: 5px;
}

.btn {
	background-color: #eb8b1c;
	color: #fff;
}
  
.panel-heading .btn {
	float: right;
	margin-right: 5px;
	margin-bottom: 50px;
	margin-left: 5px;
}

.link {
	color: #19ac65;
}
.link:hover {
	color: #5f2b6f;
}

/* ==============================================================================
NOTES
============================================================================== */